<div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-6 small-12 large-centered small-centered columns">

					<%= form_tag sessions_path do %>
	        	<div class = "panel">
	                <%= label_tag :email %>
	                <%= text_field_tag :email, params[:email] %>
	        	</div>
	        	<div class = "panel">
	                <%= label_tag :password %>
	                <%= password_field_tag :password, params[:password] %>
	        	</div>
	       		<div class="large-3 large-centered columns">
	                <%= submit_tag "Log in", :class => "button"  %>
	        	</div>
	       </div>
	     </div>
	   </div>
	 </div>
<% end %>
